* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
body {
    margin-top: 80px;
    font-family: Arial;
    background-color: #f1f0f0ff;
    font-size: 1rem;
}
strong {
    font-weight: 500;
}
header {
    height: 50px;
    width: 100%;
    background-color: #1d57cbff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 a {
    font-size: 19pt;
    color: #06145fff;
    font-weight: 1000;
}
header h1 span {
    font-size: 26pt;
    color: white;
    margin-right: -5px;
    font-weight: 100;
}
.header-cart-and-user-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.header-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.header-cart-icon {
    width: 35px;
    color: #06145fff;
}
.cart-items-count {
    font-size: 8pt;
    color: #ffffffff;
    background-color: #093d989f;
    padding: 2px 4px;
    border-radius: 15px;
    position: absolute;
    top: 1px;
    right: 2px;
}
.header-cart-total {
    font-size: 8pt;
    color: #ffffffff;
    background-color: #093d989f;
    padding: 2px 4px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
    font-weight: 500;
}
.header-cart-total span {
    color: white;
}
.header-user-account {
    display: flex;
    width: 75px;
    justify-content: center;
    position: relative;
}
.header-user-account svg {
    width: 35px;
    color: #06145fff;
}
.header-user-account div {
    font-size: 8pt;
    color: #ffffffff;
    background-color: #093d989f;
    padding: 2px 4px;
    border-radius: 10px;
    position: absolute;
    bottom: -5px;
}
.site-promo {
    background-color: #5174c0ff;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 11pt;
    padding: 3px 0;
    position: fixed;
    top: 50px;
    z-index: 500;
}
.site-promo p {
    animation: sliding-text 20s linear 0s infinite alternate;
}
.site-promo * {
    color: white;
}

@keyframes sliding-text {
    0% {
        margin-left: 110vw;
    }
    100% {
        margin-left: -110vw;
    }
}
main {
    padding: 5px;
}
#product-filters-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
#product-filters-container input {
    grid-column: span 2;
}
#product-filters-container input,
#product-filters-container select {
    height: 45px;
    border-radius: 3px;
    border: 2px solid #1d57cbff;
    padding: 10px;
}
#product-filters-container input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
#product-filters-container button {
    height: 35px;
}
.products-page-h2 {
    color: #133687;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 2.5px;
    margin-top: 5px;
}
.products-grid > p {
    grid-column: 1 / -1;
    text-align: center;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    font-weight: 400;
}
.product {
    borde: 1px solid black;
    padding: 10px 5px;
    background-color: white;
    border-radius: 10px;
}
.product-image {
    min-width: 120px;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: white;
}
.product-image > img {
    height: 150px;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.product-info p {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    height: 35px;
}
product-info strong {
    font-size: 12pt;
}

#product-filters-container button,
.add-to-cart-button {
    width: 100%;
    border: none;
    background-color: #1d57cbff;
    border-radius: 3px;
    color: white;
}
.add-to-cart-button svg {
    width: 20px;
    margin: 2.5px;
    color: white;
}

.product-quantity button,
.product-quantity input {
    border: none;
    width: 35px;
    height: 25px;
    background-color: #1d57cbff;
    outline: none;
    text-align: center;
    font-size: 12pt;
    color: white;
    border-radius: 3px;
}
.cart-container {
    background-color: white;
    width: 300px;
    position: absolute;
    border: 0.5px solid #1d57cbff;
    top: 50px;
    right: 80px;
    padding: 5px;
    border-radius: 5px;
    z-index: 5000;
}
.cart-container h3 {
    margin: 5px 0;
    color: #04276f;
}
.cart-container-summary {
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    font-size: 10pt;
    gap: 10px;
}

.cart-container-table {
    font-size: 8pt;
    padding: 5px 0 5px 0;
}
.cart-container-table img {
    display: block;
    height: 30px;
    margin: auto;
}
.cart-container-table tr {
    display: grid;
    grid-template-columns: 30px 1fr 30px 40px 50px;
    gap: 10px;
    margin: 5px 0;
}
.cart-container-table td {
    border-top: 1px solid #1d57cbff;
    padding-top: 5px;
}
.cart-container-table input {
    width: 30px;
    outline: none;
    border: 0.5px solid #1d57cbff;
    text-align-last: center;
    border-radius: 5px;
}
.cart-container-p {
    text-align: center;
    padding: 5px 0 20px 0;
}
.cart-checkout-button,
.cart-update-cart-button,
.cart-clear-cart-button {
    display: block;
    padding: 5px;
    border: none;
    background-color: #1d57cbff;
    margin: 10px auto;
    color: white;
    border-radius: 10px;
    font-size: 8pt;
}
.cart-checkout-button a {
    color: white;
}
.cart-update-button-container button {
    margin: 10px;
}
.cart-update-button-container {
    display: flex;
    justify-content: center;
}
button:active,
#submit-button:active {
    filter: brightness(1.5);
}
